In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_selection import VarianceThreshold
import seaborn as sns
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv('train.csv')

## You are provided with an anonymized dataset containing a large number of numeric variables. The "TARGET" column is the variable to predict. It equals one for unsatisfied customers and 0 for satisfied customers.

### Task: The task is to predict the probability that each customer in the test set is an unsatisfied customer.

In [3]:
data.head(10)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
5,13,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,87975.750000,0
6,14,2,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,94956.660000,0
7,18,2,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,251638.950000,0
8,20,2,45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,101962.020000,0
9,23,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,356463.060000,0

In [4]:
column_name = data.columns
data.shape

(76020, 371)

In [5]:
X = data.drop(['TARGET'] , axis = 1)
Y = data['TARGET']
X.shape , Y.shape

((76020, 370), (76020,))

# Using Variance Threshold to remove the low variance features

In [6]:
var_thre = VarianceThreshold(0)
var_thre.fit(X)

VarianceThreshold(threshold=0)

In [7]:
constant_columns = [column for column in X.columns if column not in X.columns[var_thre.get_support()]]
constant_columns

['ind_var2_0',
 'ind_var2',
 'ind_var27_0',
 'ind_var28_0',
 'ind_var28',
 'ind_var27',
 'ind_var41',
 'ind_var46_0',
 'ind_var46',
 'num_var27_0',
 'num_var28_0',
 'num_var28',
 'num_var27',
 'num_var41',
 'num_var46_0',
 'num_var46',
 'saldo_var28',
 'saldo_var27',
 'saldo_var41',
 'saldo_var46',
 'imp_amort_var18_hace3',
 'imp_amort_var34_hace3',
 'imp_reemb_var13_hace3',
 'imp_reemb_var33_hace3',
 'imp_trasp_var17_out_hace3',
 'imp_trasp_var33_out_hace3',
 'num_var2_0_ult1',
 'num_var2_ult1',
 'num_reemb_var13_hace3',
 'num_reemb_var33_hace3',
 'num_trasp_var17_out_hace3',
 'num_trasp_var33_out_hace3',
 'saldo_var2_ult1',
 'saldo_medio_var13_medio_hace3']

In [8]:
sum(var_thre.get_support())

336

In [9]:
X = X.drop(constant_columns , axis = 1)

In [10]:
X.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

# Normalise the Data

### We may not get same variance after normalisation so it is best to do normalisation after doing Variance Threshold

In [11]:
x_mean = X.mean(axis = 0)
x_std = X.std(axis = 0)
X = (X - x_mean) / x_std

# Load Test Data

In [12]:
X_test = pd.read_csv('test.csv')

In [13]:
X_test = X_test.drop(constant_columns , axis = 1)

In [14]:
X_test.shape

(75818, 336)

# Normalise test data

In [15]:
x_test_mean = X_test.mean(axis = 0)
x_test_std = X_test.std(axis =0)
X_test = (X_test - x_test_mean)/x_test_std

# Feature Selection using Pearson Correlation

In [16]:
data_corr = X.corr()
data_corr

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
ID,1.000000,-0.001025,-0.002135,-0.003111,-0.001436,-0.004131,-0.007277,-0.006302,-0.006700,-0.006698,...,-0.007631,0.001986,0.003771,-0.001521,-0.001216,-0.003772,-0.003674,-0.000856,0.000297,-0.005687
var3,-0.001025,1.000000,-0.004452,0.001868,0.005989,0.006817,0.001518,0.001690,0.000530,0.000611,...,0.000229,0.000716,0.000491,0.000638,0.000669,0.000617,0.000508,0.000738,0.000778,0.000071
var15,-0.002135,-0.004452,1.000000,0.043722,0.094762,0.101177,0.042754,0.048512,0.008805,0.009678,...,0.011623,0.029358,0.017264,0.028504,0.029176,0.029180,0.018884,0.032833,0.033597,0.006497
imp_ent_var16_ult1,-0.003111,0.001868,0.043722,1.000000,0.041221,0.034879,0.009896,0.009377,0.000592,0.002510,...,0.007428,-0.000864,-0.000632,-0.000548,-0.000540,0.002655,-0.000612,0.005055,0.006590,0.000007
imp_op_var39_comer_ult1,-0.001436,0.005989,0.094762,0.041221,1.000000,0.886476,0.342709,0.295295,0.032280,0.054809,...,0.001123,0.016422,0.011719,0.012570,0.013703,0.009445,0.005532,0.011665,0.010802,0.012546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
saldo_medio_var44_hace2,-0.003772,0.000617,0.029180,0.002655,0.009445,0.008539,-0.000436,-0.000561,-0.000211,-0.000243,...,0.003708,0.001174,-0.000187,0.003271,0.002914,1.000000,0.332172,0.818300,0.710593,0.002889
saldo_medio_var44_hace3,-0.003674,0.000508,0.018884,-0.000612,0.005532,0.006359,-0.000480,-0.000529,-0.000170,-0.000195,...,-0.000074,-0.000219,-0.000151,-0.000196,-0.000205,0.332172,1.000000,0.229158,0.213191,0.003646
saldo_medio_var44_ult1,-0.000856,0.000738,0.032833,0.005055,0.011665,0.010660,-0.000254,-0.000510,-0.000254,-0.000292,...,0.010993,0.000819,-0.000225,0.002493,0.002205,0.818300,0.229158,1.000000,0.968167,0.003258
saldo_medio_var44_ult3,0.000297,0.000778,0.033597,0.006590,0.010802,0.009822,-0.000372,-0.000601,-0.000268,-0.000308,...,0.009088,0.000977,-0.000238,0.002905,0.002574,0.710593,0.213191,0.968167,1.000000,0.003037
var38,-0.005687,0.000071,0.006497,0.000007,0.012546,0.013271,0.016628,0.015584,-0.000315,0.000682,...,-0.001412,0.004448,0.001605,0.004255,0.004290,0.002889,0.003646,0.003258,0.003037,1.000000

In [17]:
# Visualise the relation
# plt.figure(figsize = (30 , 30) )
# sns.heatmap(data_corr , annot = True)

In [18]:
def correlation(data , threshold):
    
    col_corr = set()
    corr_matrix = data.corr()
        
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if(corr_matrix.iloc[i , j ] > threshold):
                colname = corr_matrix.columns[i]
                col_corr.add(colname)
    return col_corr

In [19]:
corr = correlation(X, 0.9)

In [20]:
len(corr)

166

In [21]:
X = X.drop(corr, axis = 1)
X_test = X_test.drop(corr , axis = 1)

In [22]:
X.shape

(76020, 170)

In [23]:
X_test.shape

(75818, 170)

In [24]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75818 entries, 0 to 75817
Columns: 170 entries, ID to var38
dtypes: float64(170)
memory usage: 98.3 MB

In [25]:
X = np.array(X)
X_test = np.array(X_test)
Y = np.array(Y)

In [26]:
ones = np.ones((X.shape[0] , 1))
X = np.hstack((ones, X))

In [27]:
X.shape

(76020, 171)

In [28]:
test_ones = np.ones((X_test.shape[0] , 1))
X_test = np.hstack((test_ones , X_test))

In [29]:
X_test.shape

(75818, 171)

In [30]:
X_test

array([[ 1.00000000e+00, -1.72900482e+00,  3.97951342e-02, ...,
        -1.69383346e-02, -1.07401393e-02, -3.09973192e-01],
       [ 1.00000000e+00, -1.72893645e+00,  3.97951342e-02, ...,
        -1.69383346e-02, -1.07401393e-02, -2.89989920e-01],
       [ 1.00000000e+00, -1.72891367e+00,  3.97951342e-02, ...,
        -1.69383346e-02, -1.07401393e-02, -2.83910869e-01],
       ...,
       [ 1.00000000e+00,  1.73094954e+00,  3.97951342e-02, ...,
        -1.69383346e-02, -1.07401393e-02,  2.01313821e-01],
       [ 1.00000000e+00,  1.73097232e+00,  3.97951342e-02, ...,
        -1.69383346e-02, -1.07401393e-02, -3.03986260e-04],
       [ 1.00000000e+00,  1.73104069e+00,  3.97951342e-02, ...,
        -1.69383346e-02, -1.07401393e-02, -3.03986260e-04]])

# Logistic Regression - Binary Classification

In [31]:
def sigmoid(x):
    return 1.0 / (1.0 + np.exp(-1 * x))

In [32]:
def hypothesis(x , theta):
    return sigmoid(np.dot(x, theta))

In [33]:
def error(x, y , theta):
    hi = hypothesis(x , theta)
    e = -1 * np.mean(y * np.log(hi) + (1 - y) * np.log(1 - hi ))
    
    return e

In [34]:
def gradient_descent(x , y ,  lr = 0.01, max_iter  =100):
    n = x.shape[1]
    theta = np.zeros((n , ))
    
    error_list = []
    
    for i in range(max_iter):
        err = error(x , y , theta)
        
        error_list.append(err)
        
        grad = gradient(x , y , theta)
        
        theta = theta + grad * lr
        
    return theta, error_list

In [35]:
def gradient(x , y , theta):
    
    hi = hypothesis(x , theta)
    
    grad = np.dot(x.T , (y - hi) )
    
    m = x.shape[0]
    
    return grad/m

In [36]:
def predicted(x , theta):
    
    h = hypothesis(x , theta)
    
    output = np.zeros(h.shape)
    output[h >= 0.5] = 1
    output = output.astype('int')
    
    return output

In [37]:
def accuracy(actual , pred):
    
    actual = actual.astype('int')
    
    acc = np.sum(actual - pred)/actual.shape[0]
    
    return acc * 100

In [38]:
theta , error_list = gradient_descent(X , Y)

In [39]:
print(theta)

[-4.08241752e-01  5.64240923e-04  1.29569152e-03  1.90185536e-02
  3.37492834e-04  1.37503269e-03  8.98890281e-05  9.96653382e-05
 -5.68101830e-04  2.32654939e-03  2.38048278e-03 -5.47741368e-06
  4.06140079e-03  2.72323086e-03  3.88410722e-03  1.23839580e-04
  1.65786835e-04  1.02351656e-03 -3.92249512e-03 -1.63876445e-02
 -2.35583438e-04 -1.05346627e-04  6.59494522e-03 -3.12107302e-03
 -2.80939128e-03 -3.91342615e-03 -1.74946476e-03 -1.21758807e-04
 -1.21057344e-03  2.25597919e-04 -6.86514241e-04 -4.09055333e-04
 -3.26959044e-04 -5.48128546e-04 -1.99586106e-03 -1.37672995e-03
 -2.42610028e-03  2.78754087e-03  3.09212167e-03 -1.84809395e-02
 -1.11919319e-03  2.01094914e-04 -9.38318611e-04 -1.35973453e-04
  9.66340690e-04 -3.89371134e-03 -5.16198440e-04 -8.63535922e-03
 -1.09209013e-03  1.41417777e-03 -1.84910955e-04  3.08790680e-05
  1.87337971e-03 -8.68442157e-04 -2.78991040e-04 -3.75641876e-05
  1.24213518e-03 -1.74777546e-04  1.62999293e-03 -1.65037575e-03
 -1.57193226e-02 -3.28846080e-04  6.03183172e-05 -2.88895625e-03
 -1.58976543e-02 -2.00628500e-04 -1.48644152e-03 -1.12480258e-03
 -1.59818656e-03 -2.06244064e-03 -1.02405147e-03 -1.08467253e-04
 -2.28507762e-03 -2.12268996e-04  7.82285441e-05 -2.29542780e-04
 -1.07412614e-04 -2.89161085e-03 -1.93891734e-04 -4.68737481e-04
  7.88577870e-04  1.35182245e-03 -2.16474768e-04  1.18762012e-02
 -4.28674651e-04 -6.11250335e-05 -7.82405226e-05  6.69753884e-05
  9.75246918e-05  2.40281227e-05 -1.14275683e-04 -2.65967835e-04
 -2.68269254e-04 -1.32893273e-04 -5.97809773e-05 -5.18992498e-04
 -1.47373842e-03 -6.15073643e-04  5.35154481e-04 -4.07958882e-04
 -2.35171238e-04 -1.05645198e-04 -1.70747050e-04 -3.18818480e-04
 -1.16448043e-04  6.22291334e-04 -9.56088051e-05  1.49064019e-03
  2.02511785e-04 -7.17851545e-04 -2.18171350e-04 -2.64467122e-04
 -2.49482259e-04 -2.55263239e-04 -6.92154321e-05 -5.71334709e-05
 -1.72061251e-04  5.69421547e-04  1.73427266e-03 -4.14440254e-04
 -1.73232550e-03 -5.93281869e-04 -2.41560782e-03 -4.29376045e-04
 -3.82194786e-04  8.58652112e-04 -5.07269787e-04 -2.75622298e-04
  2.94083368e-04 -4.21881413e-04 -3.08102253e-04  1.94042159e-03
  3.07175404e-03  1.28048882e-03  5.09637906e-03  4.10915730e-03
  1.76990921e-03 -1.49996309e-03 -1.53998914e-04 -3.97370792e-04
 -6.01682566e-04  2.14883273e-03  2.09700252e-03  3.07611983e-03
  2.03023448e-03  1.64697289e-03  8.00335903e-05 -1.68781128e-03
 -7.07942320e-04 -3.32814361e-04  6.96433066e-04  2.26466820e-03
 -1.83454790e-03 -1.14871700e-03 -1.43813234e-03 -1.35831110e-03
 -1.06037972e-03 -4.84310005e-04 -1.16694355e-03 -9.36935533e-04
 -1.68905015e-03 -8.92210042e-04 -8.37431417e-04 -5.18629969e-04
 -1.18004639e-04 -7.28352727e-05 -5.43851011e-04 -3.03491264e-04
 -3.92563213e-04 -2.62250170e-04 -3.61323244e-03]

In [40]:
y_pred = predicted(X , theta)

# Using sklearn Library

In [41]:
lg = LogisticRegression(max_iter=500)

In [42]:
lg.fit(X, Y )

LogisticRegression(max_iter=500)

In [43]:
model_score = lg.score(X, Y )

In [44]:
model_score

0.960234148908182

In [45]:
c = lg.intercept_
m = lg.coef_

In [46]:
print(c)
print(m)

[-3.94539015]
[[ 5.45364269e-02  1.45488455e-02  6.69356117e-02  5.02959226e-01
   3.00184872e-03  1.94743323e-01 -2.29782111e-01 -2.40160184e-02
   7.35810002e-02 -2.60736088e-02  5.29988633e-02 -5.63817703e-02
   1.11586208e-02 -4.32112625e-02  9.30567145e-02 -1.48430896e-03
   8.50688492e-02  1.06685152e-02 -3.92496100e-02 -2.97396825e-02
  -4.91931521e-02 -1.30551443e-02  9.19435857e-02  8.74039732e-02
  -2.06195176e-01 -6.50101640e-01  3.49515182e-02 -2.04532266e-02
  -6.26590143e-02  6.23941006e-02 -1.08183156e-01  2.43241633e-01
  -2.98021947e-02 -1.68838313e-02 -2.98738506e-01 -3.90722713e-02
  -2.79401299e-02  4.36318254e-02  1.74263376e-01 -6.03930843e-01
   2.68520251e-02 -4.75374701e-03 -2.13847775e-01 -3.32528456e-02
  -1.08218994e-02 -7.75806983e-02 -1.65891708e-01  1.97402174e-02
  -2.12045481e-01  1.11053278e-01 -3.20662059e-01 -2.17792602e-03
  -1.16364017e-02 -1.06857017e-01 -8.39690420e-02  8.24906057e-02
   9.66806410e-02 -3.62498534e-04 -4.94616283e-02  1.63951513e-01
   6.48288420e-01 -7.24303261e-02 -3.78945422e-02 -7.68078384e-02
  -5.83156162e-01 -4.30430943e-03 -3.04491504e-01 -5.82920651e-02
  -8.68203084e-02 -3.45516980e-02 -9.65020451e-02 -1.04069256e-02
  -7.96491244e-02 -1.53049581e-01 -3.86195746e-01 -3.95588870e-03
  -8.70358717e-02 -1.64838609e-01 -1.34358664e-02 -5.39658286e-03
   1.47848939e-02  8.88214848e-03  2.35895185e-01  1.12638184e-01
   2.80598617e-01 -1.32351130e-01 -4.31408546e-04  2.74232994e-01
  -3.23837022e-02 -1.67113172e-01 -2.13979750e-03 -1.69639224e-02
  -8.45419316e-03 -5.29331710e-03  9.55230758e-04 -9.97272402e-02
  -3.28289970e-02 -9.64094772e-02  3.32657846e-02 -1.58073352e-03
  -4.27732888e-03 -1.32583729e-02 -3.48131868e-02  5.86443595e-04
  -9.69450990e-02  7.37433057e-02 -5.88249868e-03  5.53421414e-02
   8.59748714e-02 -3.40800734e-02 -1.38382391e-02 -1.33778027e-02
  -9.74979660e-03 -3.98176444e-03 -2.58487091e-03 -1.14896569e-03
  -2.75072203e-02  4.71063497e-02  2.47737448e-02 -2.45180783e-02
   1.89926524e-02 -8.32888943e-02 -2.21467589e-01 -2.13717348e-01
  -1.20866705e-01  5.25484228e-02 -5.18766306e-03 -5.81254610e-03
  -3.30062109e-02 -3.16344728e-02 -5.87350121e-01  6.55092682e-02
   6.10687505e-02  2.23587520e-02  9.10416572e-02  7.65787451e-02
  -2.19133551e-02 -5.81959742e-01 -8.71060609e-03  1.46301593e-01
  -9.46312492e-02 -5.05107906e-03  8.32275106e-03  5.25416330e-02
   1.74156905e-01  2.89078420e-02 -2.49890160e-02 -1.32299550e-01
  -3.14790026e-02 -3.19796020e-02  5.68235583e-02  5.89924628e-02
  -2.28465805e-01 -1.92050514e-01 -2.18494198e-01  1.98960802e-01
  -4.18897777e-01 -2.47093991e-01  3.87886984e-02 -5.73710736e-02
   2.23612897e-01 -2.29900955e-02 -6.12007010e-02  1.11236004e-02
  -8.22197921e-03 -3.04408748e-03 -4.86772428e-03 -6.68964575e-03
  -3.10644708e-01 -8.60989672e-03 -6.65437027e-01]]